<h3>Crear nuevo docente</h3>
<hr>
<form #createDocenteForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nombre">Nombre Completo</label>
        <input type="text" class="form-control" id="nombre" required [(ngModel)]="docente.nombreCompleto" name="nombre"
            #nombre="ngModel">
        <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
            El nombre es requerido.
        </div>
    </div>

    <div class="form-group">
        <label for="identificacion">Identificación</label>
        <input type="text" name="identificacion" id="identificacion" class="form-control"
                required [(ngModel)]="docente.identificacion" #identificacion="ngModel">
        <div class="alert alert-danger" [hidden]="identificacion.valid || identificacion.pristine">
            La identificación es requerida.
        </div>
    </div>

    <div class="from-group">
        <label for="tipoDocumento">Tipo de Documento</label>
        <select class="form-control" id="tipoDocumento" required [(ngModel)]="tipoDocumento.id" name="tipoDocumento"
            #tipoDocumento="ngModel">
            <option *ngFor="let tipoDoc of tiposDocumentos" [value]="tipoDoc.id">{{ tipoDoc.documento }}</option>
        </select>
        <div [hidden]="tipoDocumento.valid || tipoDocumento.pristine" class="alert alert-danger">
            El tipo de documento es requerido.
        </div>
    </div>

    <div class="form-group">
        <label for="grupoInvestigacion">Grupo de Investigación</label>
        <select class="form-control" id="grupoInvestigacion" required [(ngModel)]="grupoInvestigacion.id"
            name="grupoInvestigacion" #grupoInvestigacion="ngModel" (ngModelChange)="changeGrupoInvestigacion($event)">
            <option *ngFor="let gInvestigacion of gruposInvestigacion" [value]="gInvestigacion.id">
                {{ gInvestigacion.nombreGrupo }} ({{ gInvestigacion.acronimo | uppercase }})</option>
        </select>
        <div class="alert alert-danger" [hidden]="grupoInvestigacion.valid || grupoInvestigacion.pristine">
            El grupo de investigación es requerido.
        </div>
    </div>

    <div class="form-group">
        <label for="lInvestigacion">Linea de Investigación</label>
        <select class="form-control" id="lInvestigacion" name="lInvestigacion" #lIvenstigacion="ngModel"
            [(ngModel)]="lineaInvestigacion.id" required>
            <option *ngFor="let lInv of lineasInvestigacion" value="lInv.id">{{ lInv.tipoLinea }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control"
                required [(ngModel)]="contacto.email" #email="ngModel">
        <div class="alert alert-danger" [hidden]="email.valid || email.pristine">
            El email es requerido
        </div>
    </div>

    <div class="form-group">
        <label for="celular">Celular</label>
        <input type="text" name="celular" id="celular" class="form-control"
                [(ngModel)]="contacto.celular" #celular="ngModel">
    </div>

    <div class="form-group">
        <label for="fijo">Fijo</label>
        <input type="text" name="fijo" id="fijo" class="form-control"
                [(ngModel)]="contacto.fijo" #fijo="ngModel">
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
</form>
<!--
<div class="form">
    <form #docentefrm="ngForm" ngNativeValidate (ngSubmit)="createDocente()" >

        <div class="form-row">
            <div class="form-group col-md-6 col-lg-6 col-xs-12">
                <label for="nombres">Nombres</label>
                <input type="text" [(ngModel)]="docente.nombres" required name="nombres" id="nombres"
                    class="form-control">
            </div>

            <div class="form-group col-md-6 col-lg-6 col-xs-12">
                <label for="apellidos">Apellidos</label>
                <input type="text" [(ngModel)]="docente.apellidos" required name="apellidos" id="apellidos"
                    class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 col-lg-6 col-xs-12">
                <label for="tipodocumento">
                    Tipo de documento
                </label>
                <select [(ngModel)]="tipoDocumento.id" required name="tipodocumento" id="tipodocumento"
                    class="form-control">
                    <option *ngFor="let tipoDoc of tiposDocumentos; let i = index " [value]="tiposDocumentos[i].id">
                        {{ tiposDocumentos[i].documento }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xs-12">
                <label for="identificacion">Identificacion</label>
                <input type="text" [(ngModel)]="persona.identificacion" required name="identificacion"
                    id="identificacion" class="form-control">
            </div>
        </div>
        <div class="contacto">
            <h4>Información de contacto</h4>
            <div class="form-row">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" required name="email" id="email" [(ngModel)]="contacto.email"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="tel" name="telefono" id="telefono" [(ngModel)]="contacto.celular"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="fijo">Fijo</label>
                    <input type="fijo" name="fijo" id="fijo" [(ngModel)]="contacto.fijo" class="form-control ">
                </div>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <input type="submit" value="Guardar" class="btn btn-primary">
        </div>
    </form>
</div>
-->