<!--<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand brand-custom" href="#">GATPIS</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link login-custom" routerLink="/student/list">Students <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link register-custom" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link login-custom" routerLink="/jefe-departamento/docentes/list">Docentes<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="col-2 collapse d-md-flex bg-light pt-2 min-vh-100" id="sidebar">
    <ul class="nav flex-column flex-nowrap">
        <li class="nav-item">
            <a class="nav-link register-custom" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link login-custom" routerLink="/student/list">Students <span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Analytics</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Export</a></li>
    </ul>
</div>
-->


<header>
    <div id="logoU"></div>
    <div class="separador"></div>
    <p id="desc">Sistema de Gestión de Anteproyectos y Tesis del Departamento de Sistemas</p>
    <div class="logoSimca"></div>
    <div id="banderaHeader"></div>
    <div class="clear"></div>
</header>
<div id="infoUsuario" *ngIf="authService.isUserLoggedIn()">
    <a [routerLink]="[ '/logout' ]">Cerrar Sesión</a>
</div>
<div class="clear"></div>

<div class="container">
    <div class="menu col-md-3">
        <app-menu></app-menu>
    </div>
    <div class="principal col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="clear"></div>

<!--
<nav id="sidebar">

    <div class="sidebar-header">
        <h3>GATPIS</h3>
    </div>

    <ul class="list-unstyled components">
        <li *ngIf="authService.isUserLoggedIn()">
            <a class="nav-link register-custom" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
        </li>
        <li class="nav-item" *ngIf="authService.isUserLoggedIn()">
            <a class="nav-link login-custom" routerLink="/jefe-departamento/docentes/list">Docentes<span
                    class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="authService.isUserLoggedIn()">
            <a class="nav-link login-custom" routerLink="/jefe-departamento/estudiantes/list">Estudiantes<span
                class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="!authService.isUserLoggedIn()">
            <a routerLink="/login">Iniciar sesion</a>
        </li>
        <li *ngIf="authService.isUserLoggedIn()">
            <a routerLink="/logout">Cerrar sesion</a>
        </li>
    </ul>
</nav>-->