header
    margin 5px 10px 5px 50px
    position relative
    z-index 1
    display block
    background url("/assets/back-header.png") no-repeat center
    position relative
    margin 0
    background-color #0c3664
    background-size 100%

    .separador
        background url("/assets/barra.png") no-repeat
        margin-top 30px
        margin-bottom 32px
        width 2px
        height 40px
        float left
        margin 25px 10px 27px 0


#logoU
    background: url("/assets/logo.png") no-repeat
    width: 188px
    height: 92px
    float: left
    margin-right: 10px

#desc
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 27px;
    width: 335px;
    float: left;

#banderaHeader
    background: url("/assets/bandera-head.png") no-repeat;
    width: 195px;
    height: 102px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;

.logoSimca
    width 183px
    height 81px
    float right
    margin 10px 190px 0 0

#infoUsuario
    float right
    margin-right 20px

.menu
    float left 
    position relative
    width 100%

.principal
    float right
    position relative
