<h3 class="titulo">
    Carga masiva de docentes
</h3>
<hr>
<input type="file" ng2FileSelect [uploader]="uploader" />
<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
    [disabled]="!uploader.getNotUploadedItems().length">
    <span class="glyphicon glyphicon-upload"></span> Subir archivo.
</button>
<div class="progress">
    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
</div>