<h3 class="title">Registro estudiante</h3>
<hr>
<form #estudiantefrm="ngForm" ngNativeValidate (ngSubmit)="createEstudiante()">
    <h4>Información personal</h4>
    <div class="form-row">
        <div class="form-group col-md-6 col-lg-6 col-xs-12">
            <label for="nombres">Nombres</label>
            <input class="form-control" type="text" name="nombres" [(ngModel)]="estudiante.nombres" id="">
        </div>
        <div class="form-group col-md-6 col-lg-6 col-xs-12">
            <label for="apellidos">Apellidos</label>
            <input type="text" [(ngModel)]="estudiante.apellidos" name="apellidos" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 col-lg-6 col-xs-12">
            <label for="tipodocumento">
                Tipo de documento
            </label>
            <select [(ngModel)]="tipoDocumento.id" required name="tipodocumento" id="tipodocumento"
                class="form-control">
                <option *ngFor="let tipoDoc of tiposDocumentos; let i = index " [value]="tiposDocumentos[i].id">
                    {{ tiposDocumentos[i].documento }}
                </option>
            </select>
        </div>
        <div class="form-group col-md-6 col-lg-6 col-xs-12">
            <label for="identificacion">Identificacion</label>
            <input type="text" [(ngModel)]="persona.identificacion" required name="identificacion" id="identificacion"
                class="form-control">
        </div>
        <div class="contacto">
            <h4>Información de contacto</h4>
            <div class="form-row">
                <div class="form-group col-md-4 col-lg-4 col-xs-12">
                    <label for="email">Email</label>
                    <input type="email" required name="email" id="email" [(ngModel)]="contacto.email"
                        class="form-control">
                </div>
                <div class="form-group col-md-4 col-lg-4 col-xs-12">
                    <label for="telefono">Telefono</label>
                    <input type="tel" name="telefono" id="telefono" [(ngModel)]="contacto.celular" class="form-control">
                </div>
                <div class="form-group col-md-4 col-lg-4 col-xs-12">
                    <label for="fijo">Fijo</label>
                    <input type="fijo" name="fijo" id="fijo" [(ngModel)]="contacto.fijo" class="form-control ">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row">
        <input type="submit" value="Guardar" class="bnt btn-primary">
    </div>
</form>