<!--
<div class="container">
  <div>
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password : <input type="password" name="password" [(ngModel)]="password">
  </div>
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
</div>
-->

<div class="login-container">
  <form class="border border-light p-5 login-wrapper">

    <p class="h4 mb-4 text-center">Iniciar Sesión</p>

    <input type="text" name="username" [(ngModel)]="username" id="defaultLoginFormEmail" class="form-control mb-4"
      placeholder="Nombre de usuario">

    <input type="password" name="password" [(ngModel)]="password" id="defaultLoginFormPassword" class="form-control mb-4"
      placeholder="Contraseña">

    <button class="btn btn-info btn-block my-4" (click)="checkLogin()">Ingresar</button>
  </form>
</div>