.login-container
    width: 100%
    min-height: 100vh
    overflow: auto
    background url("/assets/background.png")

    .login-wrapper
        margin: 100px auto
        width: 30%
        background-color: #fff

        button
            background-color: #d6d6d6
            width: 100px
            margin 0 auto
            box-shadow: none