<h3 class="titulo">Lista de docentes</h3>
<span class="clearfix"></span>
<div class="list">
    <table class="table">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Identificación</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let docente of docentes">
                <td>
                    {{ docente.nombres }}
                </td>
                <td>
                    {{ docente.apellidos }}
                </td>
                <td>
                    {{ docente.persona.identificacion }}
                </td>
                <td>
                    <a class="btn btn-warning" [routerLink]="['/jefe-departamento/docentes/detail', docente.id]">Editar</a>
                    <button class="btn btn-danger" (click)="deleteDocente(docente.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="opciones">
    <a class="btn btn-primary" [routerLink]="['/jefe-departamento/docentes/create']">
        Registrar nuevo docente
    </a>
    <a class="btn btn-primary" [routerLink]="['/jefe-departamento/docentes/carga-masiva']">Realizar carga masiva</a>
</div>