<h3 class="titulo">Editar estudiante</h3>
<div class="form">
    <form #estudianteFrm="ngForm" ngNativeValidate (ngSubmit)="editarEstudiante()">

        <div class="form-row">
            <div class="form-group col-md-6 col-lg-6 col-xs-12">
                <label for="nombres">Nombres</label>
                <input type="text" [(ngModel)]="estudiante.nombres" required name="nombres" id="nombres"
                    class="form-control">
            </div>

            <div class="form-group col-md-6 col-lg-6 col-xs-12">
                <label for="apellidos">Apellidos</label>
                <input type="text" [(ngModel)]="estudiante.apellidos" required name="apellidos" id="apellidos"
                    class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 col-lg-6 col-xs-12">
                <label for="tipodocumento">
                    Tipo de documento
                </label>
                <select [(ngModel)]="estudiante.persona.tipoDocumento.id" required name="tipodocumento"
                    id="tipodocumento" class="form-control">
                    <option *ngFor="let tipoDoc of tiposDocumentos; let i = index " [value]="tiposDocumentos[i].id"
                        [selected]="tiposDocumentos[i].id === estudiante.persona.tipoDocumento.id">
                        {{ tipoDoc.documento }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6 col-lg-6 col-xs-12">
                <label for="identificacion">Identificacion</label>
                <input type="text" [(ngModel)]="estudiante.persona.identificacion" required name="identificacion"
                    id="identificacion" class="form-control">
            </div>
        </div>
        <div class="contactos">

            <h4>Contacto {{ i + 1 }}</h4>
            <div class="form-row">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" required name="email" id="email" [(ngModel)]="estudiante.persona.contacto.email"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="tel" name="telefono" id="telefono" [(ngModel)]="estudiante.persona.contacto.celular"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="fijo">Fijo</label>
                    <input type="fijo" name="fijo" id="fijo" [(ngModel)]="estudiante.persona.contacto.fijo"
                        class="form-control">
                </div>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <input type="submit" value="Guardar" class="bnt btn-primary">
        </div>

    </form>
</div>