<h3 class="titulo">Lista de estudiantes</h3>
<span class="clearfix"></span>
<div class="list">
    <table class="table">
        <thead>
            <tr>
                <th>Nmbres</th>
                <th>Apellido</th>
                <th>Identificación</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estudiante of estudiantes">
                <td>
                    {{ estudiante.nombres }}
                </td>
                <td>
                    {{ estudiante.apellidos }}
                </td>
                <td>
                    {{ estudiante.persona.identificacion }}
                </td>
                <td>
                    <a class="btn btn-warning" [routerLink]="['/jefe-departamento/estudiantes/detail', estudiante.id]">Editar</a>
                    <button class="btn btn-danger" (click)="deleteEstudiante(estudiante.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>    
</div>
<div class="opciones">
    <a class="btn btn-primary" [routerLink]="['/jefe-departamento/estudiantes/create']">
        Registrar nuevo estudiante
    </a>
</div>